<!DOCTYPE html>
<!-- footer -->
<footer id="footer">
    <!--Vse pravice pridržane (c) 2013 <a href="http://www.divjak.si">divjak.si</a> <a class="pull-right" href="admin/zahtevki.html"><i class="fa fa-user-md"></i> Študent/Strokovnjak</a>-->
    <!--<br/>-->
    <!--Lang Change -->
    <div id="lang_change">
        Vse pravice pridržane (c) 2013 <a href="http://www.divjak.si">divjak.si</a> <span class="pull-right"><a href="" id="english">Angleščina</a> | <a href="" id="slovenian">Slovenščina</a><span>
    </div>
    <!--<script src="<?php echo STATIC_URL; ?>js/change_language.js" type="text/javascript"></script>
    <script src="<?php echo STATIC_URL; ?>js/sp.js" type="text/javascript"></script>
    <script src="<?php echo STATIC_URL; ?>js/validation.js" type="text/javascript"></script>
    <script src="<?php echo STATIC_URL; ?>js/login_validation.js" type="text/javascript"></script>-->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</footer>