<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!--Javascript files -->
    <script type="application/javascript" encoding="utf-8" src="<?php echo STATIC_URL; ?>js/jquery/js/jquery-1.9.1.js"></script>
    <script type="application/javascript" src="<?php echo STATIC_URL; ?>js/jquery/js/jquery-ui-1.10.3.custom.js"></script>

    <!--Website CSS File -->
    <link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL; ?>static/style.css">

    <!-- JQuery CSS Files -->
    <link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL; ?>js/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.css">

    <!--Cool Icons-->
    <link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL; ?>static/icons/css/font-awesome.css">

    <title id="title">Spletna stran za tehnično pomoč</title>
</head>

